body {
  align-items: center;
  background-image: url ("./assets/images/background-game.png");
  display: flex;
  margin: 0;
}
canvas {
  border: solid 1px #fff;
  border-left: none;
  border-right: none;
  image-rendering: optimizeSpeed;
  width: 100%;
}
